[user]
    email = mrichardson03@gmail.com
    name = Michael Richardson
[core]
    excludesfile = ~/.gitignore
    autocrlf = input
    editor = "code --wait"
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[alias]
    c = commit
    ca = commit -a
    cm = commit -m
    cam = commit -am
    d = diff
    dc = diff --cached
    l = log --graph --abbrev-commit
    change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
[pull]
    rebase = false
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[fetch]
    prune = true
