# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
    . /etc/bashrc
fi

#######################################################################
# Path                                                                #
#######################################################################

{{- $paths := list }}
{{- $homeDir := .chezmoi.homeDir }}
{{- range $_, $relPath := list "bin" ".local/bin" }}
{{    $path := joinPath $homeDir $relPath }}
{{-   if stat $path }}
{{-     $paths = mustAppend $paths $path }}
{{-   end }}
{{- end }}
{{- if $paths }}
export PATH={{ toStrings $paths | join ":" }}:$PATH
{{- end }}

#######################################################################
# Editor                                                              #
#######################################################################

{{ if lookPath "nvim" -}}
export EDITOR=nvim
{{ else -}}
export EDITOR=vim
{{ end -}}

#######################################################################
# CLI Colors                                                          #
#######################################################################

unset LSCOLORS
export CLICOLOR=1
export CLICOLOR_FORCE=1

{{ if eq .chezmoi.os "darwin" -}}
alias ls="ls -GF"
{{ else -}}
alias ls="ls --color=always -F"
{{ end -}}

{{- /* vim: set filetype=bash: */}}
