#!/usr/bin/env bash

set -euo pipefail
IFS=$'\t\n'

{{ if eq .osid "linux-debian" "linux-raspbian" -}}

{{ $packages := list -}}

{{ $packages := list
  "bat"
  "build-essential"
  "curl"
  "fd-find"
  "fzf"
  "git"
  "git-lfs"
  "jq"
  "ripgrep"
  "shellcheck" -}}

{{ if not .headless -}}
{{   $packages = concat $packages (list
       "direnv"
       "libguestfs-tools"
       "libvirt-daemon-system"
       "podman"
       "podman-compose"
       "qemu-system"
       "syncthing"
       "virt-manager"
       "xclip" ) -}}
{{ end -}}

sudo apt-get update
sudo apt-get install -y {{ $packages | join " " }}

{{ end -}}
